.header {
	visibility: hidden;
  }
  
section {
	padding: 20px !important;
  	border-radius: 10px !important;
  	margin: 20px !important;
  	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  	
  }

.page-section {
	padding: 20px !important;
  	border-radius: 10px !important;
  	margin: 20px !important;
  	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  	
  }

.section-background {
  	border-radius: 10px !important;

  }

button {
	padding: 10px !important;
  	border-radius: 5px !important;
  	margin: 10px !important;
  	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

.btn {
	padding: 10px !important;
  	border-radius: 5px !important;
  	margin: 10px !important;
  	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

img {
  	border-radius: 5px !important;
  	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
  	
  }

.image-inset {
  	border-radius: 10px !important;
  	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
  	
  }

.image-overlay {
  	border-radius: 10px !important;
  	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
  	
  }

.fixed-nav-button {
  position: fixed; /* Fixed/sticky position */
  top: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  background-color: #333333;
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
  
}
